*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
:root {
  --darkblue: #1d3557;
  --blue: #457b9d;
  --lightblue: #a8dadc;
  --whiteblue: #f1faee;
  --red: #e63946;
}

body {
  background: var(--blue);
  margin: 0;
  padding: 0;
}

.calc-grid {
  display: grid;
  justify-content: center;
  /* aligns the content of the buttons  so they dont
  look strange */
  align-content: center;
  min-height: 100vh;
  /* columns are going to repeat, have 4 columns and be 100px wide */
  grid-template-columns: repeat(4, 100px);
  /* grid rows will have minmax of 120px and max of auto
  we also want it to have 5 rows as there is 5 buttons */
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid var(--whiteblue);
  outline: none;
  background-color: var(--lightblue);
}
.calc-grid > button:hover {
  background-color: #a8dadccc;
}

.two-spaces {
  /* adding span to columns with this class */
  grid-column: span 2;
}

/* to fix output screen */
.output {
  /* we want it to span from the first column to the last one (-1) */
  grid-column: 1 /-1;
  background-color: var(--darkblue);
  /* We have to flex and end so that it moves to the right */
  display: flex;
  align-items: flex-end;
  /* makes the gap closer */
  justify-content: space-around;
  /* aligns text vertically */
  flex-direction: column;
  padding: 1rem;
  /* to break the word in the middle not at the end of the word */
  word-wrap: break-word;
  /* want to break all words */
  word-break: break-all;
}

.previous-operand {
  color: #f1faeeb7;
  font-size: 1.5rem;
}
.current-operand {
  color: var(--whiteblue);
  font-size: 3rem;
}
